@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

/* ShowWindow 1 */
.show_window1 {
    margin-right: 180px;
}


.artist_name1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:250px;
    text-align: right;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.day1 {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 11px;
    width:250px;
    text-align: right;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.musium_name1 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 11px;
    width:250px;
    text-align: right;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}


/* ShowWindow 2 */
.show_window2 {
    position: relative;
    width: 475px;
    height: 200px;
    background-color: #191919;
    border-radius: 15px;
}
.show_window2 .show_window2_picture {
    position: absolute;
    top: 15px;
    left: 30px;
    width: 125px;
    height:160px;
}
.show_window2 .show_window2_picture img {
    object-fit: contain;
    width: 115px;
    height: 160px;
}
.total_name2 {
    position: absolute;
    top: 20px;
    left: 200px;
    width:250px;
    text-align: left;
}
.name2 {
    font-size: 24px;
    margin: 0px;
    color: white;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.musium_name2 {
    font-weight: lighter;
    color: white;
    font-size: 14px;
    margin-top: 0px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.plus_btn2{
    position: absolute;
    top: 160px;
    left: 435px;
    width: 25px;
    height: 25px;
}

/* ShowWindow 4 */
.show_window4 {
    width: 247px;
    height: 155px;
    margin-bottom: 10px;
    position: relative;
    background-color: #191919;
    border-radius: 15px;
}
.show_window4_img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 94px;
    height: 124px;
}
.show_window4_img img {
    object-fit: contain;
    width: 90px;
    height: 124px;
}



.show_window4_text {
    position: absolute;
    top: 60px;
    left: 125px;
    width:120px;
}
.artist_name4 {
    text-align: left;
    font-size: 12px;
    margin: 0px;
    color: #F9F9F9;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.art_name4 {
    text-align: left;
    font-size: 12px;
    margin: 0px;
    color: #F9F9F9;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.musium_name4 {
    text-align: left;
    font-size: 6px;
    font-weight: lighter;
    margin: 0px;
    color: #F9F9F9;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.plus_btn4 {
    position: absolute;
    top: 130px;
    left: 221px;
    width: 15px;
    height: 15px;
}

/*  ShowWindow 5 */
.show_window_5 {
    width: 450px;
    height: 680px;
    margin-right: 60px;
    margin-bottom: 60px;
}

.show_window_5 p {
    width: 450px;
    font-size: 30px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
