@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

.slider_component1 {
    width: 900px;
    height: 610px;
}

.component1_artist {
    position: absolute;
    top: 260px;
    width: 310px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    margin: 0px;
    color: #191919;
}

.component1_type {
    position: absolute;
    top: 290px;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    font-size: 24px;
    margin: 0px;
    color: #191919;
}

.component1_size {
    position: absolute;
    top: 330px;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    font-size: 14px;
    font-weight: Lato;
    margin: 0px;
    color: #505050;
}

.component1_musium {
    position: absolute;
    top: 350px;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    font-size: 14px;
    font-weight: Lato;
    margin: 0px;
    color: #505050;
}

.component1_img {
    position: relative;
    top: 10px;
    left: 360px;
    margin-left: 80px;
    width: 428px;
}

.button1 {
    position: absolute;
    left: 20px;
    top: 300px;
    border: none;
    font-size: 30px;
    background-color: #F9F9F9;
}

.button2 {
    position: absolute;
    left: 880px;
    top: 300px;
    border: none;
    font-size: 30px;
    background-color: #F9F9F9;
}